/* 기본 box-sizing 정의 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 컨테이터 */
.container{
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  /* border: 10px solid black;
  padding:10px; 
  margin:0 auto;*/
  margin-left: auto; /*with가 있어야 가능*/
  margin-right: auto;
}

/* 헤더 */
.header{
  background-color: #fff;
  position: relative;
  padding : 2px 30px 10px;  
  right: -0.5em;
}

/* 로고 */
.logo{
  position: absolute;
  top:45px;
  left:70px;
}


/* 멤버링크 */
.member{
  margin-bottom: 2px;
}

.member a{
  display:inline-block; /*화면은 블록 내부는 인라인*/
  text-transform: uppercase;
  padding:  0.5em;  
  

}

/* 내비게이션 */
.navigation{  
  padding-bottom: 40px;
}
.menu{
  border-top:2px solid #000;
  height: 50px;
  padding-left: 240px;
  background: rgb(251,155,45);
  background: linear-gradient(to bottom, #ef9643 1%,#f7752e 35%,#f7752e 70%,#ef9643 100%);
  background: linear-gradient(180deg, rgba(251,155,45,1) 0%, rgba(246,131,0,1) 35%, rgba(246,131,0,1) 70%, rgba(251,155,45,1) 100%);
}

.menu-item{
  border-left: 2px solid rgba(255,255,255,0.5);
  position: relative;
}

.btn-menu{
  color:#fff;
  font-weight: 700;
  font-size:1.6rem;
  padding: 1em;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

.menu-act .btn-menu{
  color: #ff0;
  /* border-bottom: 2px solid #000; */
  position: relative;
  
}

.menu-act .btn-menu::after{
  position: absolute;
  top:50px;
  left:50%;
  content:"";
  width: calc(100% - 2em);
  display:block;
  border-top: 2px solid #000;
  transform:translateX(-50%);
}
.sub-menu{
  display: none;
  position: absolute;
  white-space: nowrap;
  top:52px;
}

.sub-menu a{
  margin-right: 0.5em;
  padding:0.5em;
  display:inline-block;
}

.sub-menu1, .sub-menu2, .sub-menu3 {
  left:0;
}
.sub-menu4, .sub-menu5, .sub-menu6 {
  right:0;
}


/* 비주얼 */
.visual{
  background-color: lime;
  height:120px;
}

/* 메인컨텐츠 */
.main{
  background-color: #fff;
  padding : 30px 15px;
}

/* group */
.group1{
  background-color: silver;  
  width: 250px;  
}
/* group */
.group2{
  background-color: tan;  
  width: 380px;
}
/* group */
.group3{
  background-color: teal;  
  width: 190px;
}

/* 슬로건 */
.slogan{
  background-color: coral;
  height:10vh;
}
/* footer */
.footer-bg{
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
.footer{
  background-color: violet;
  height:10vh;
}