/* 기본 box-sizing 정의 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 컨테이터 */
.container{
  background-color: #ccc;
  background-image:  url("../images/bg_flower.png"), linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0;;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  /* border: 10px solid black;
  padding:10px; 
  margin:0 auto;*/
  margin-left: auto; /*with가 있어야 가능*/
  margin-right: auto;
}

/* 헤더 */
.header{
  background-color: #fff;
  position: relative;
  padding : 2px 30px 10px;  
  right: -0.5em;
  border-radius :0 0 15px 15px;
}

/* 로고 */
.logo{
  position: absolute;
  top:45px;
  left:70px;
}


/* 멤버링크 */
.member{
  margin-bottom: 2px;
}

.member a{
  display:inline-block; /*화면은 블록 내부는 인라인*/
  text-transform: uppercase;
  padding:  0.5em;  
  

}

/* 내비게이션 */
.navigation{  
  padding-bottom: 40px;
}
.menu{
  border-radius: 0 0 5px 5px;
  border-top:2px solid #000;
  height: 50px;
  padding-left: 240px;
  background: rgb(251,155,45);
  background: linear-gradient(to bottom, #ef9643 1%,#f7752e 35%,#f7752e 70%,#ef9643 100%);
  background: linear-gradient(180deg, rgba(251,155,45,1) 0%, rgba(246,131,0,1) 35%, rgba(246,131,0,1) 70%, rgba(251,155,45,1) 100%);
}

.menu-item{
  border-left: 2px solid rgba(255,255,255,0.5);
  position: relative;
}

.btn-menu{
  display: block;
  color:#fff;
  font-weight: 700;
  font-size:1.6rem;
  padding: 0 1em;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  line-height: 48px;
}

.menu-act .btn-menu{
  color: #ff0;
  /* border-bottom: 2px solid #000; */
  position: relative;
  
}


.menu-act .btn-menu::after{
  content:"";
  display: block;  
  border-top: 2px solid #000;
}
/* .menu-act .btn-menu::after{
  position: absolute;
  top:50px;
  left:50%;
  content:"";
  width: calc(100% - 2em);
  display:block;
  border-top: 2px solid #000;
  transform:translateX(-50%);
} */
.sub-menu{
  display: none;
  position: absolute;
  white-space: nowrap;
  top:52px;
}

.sub-menu a{
  margin-right: 0.5em;
  padding:0.5em;
  display:inline-block;
}

.sub-menu1, .sub-menu2, .sub-menu3 {
  left:0;
}
.sub-menu4, .sub-menu5, .sub-menu6 {
  right:0;
}


/* 비주얼 */
.visual{
  height:120px;
  position: relative;
  
}
/* 비주얼 배경 이미지 */
.visual::before, .visual::after{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;  
  animation: bg-ani 2000ms infinite alternate;
}

.visual::before{
  /* background-image: url("../images/ani_flower_01.png"), url("../images/ani_flower_02.png");
  background-repeat: no-repeat;
  background-position: 0 -10px, 670px 0; */
  background: url("../images/ani_flower_01.png") no-repeat 0 -10px,
  url("../images/ani_flower_02.png") no-repeat 670px 0 ;
 
}
.visual::after{
  background: url("../images/ani_flower_03.png") no-repeat 300px 0,
  url("../images/ani_flower_04.png") no-repeat 800px 0 ;
  animation-delay: 1000ms;
}



/* 비주얼 텍스트 */
.visual-text{
  width: 500px;
  color: rgba(0,0,0,0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-weight: 700; 폰트 굵기*/
  /* animation-name: text-ani;   /*에니메이션 필수 속성
  animation-duration: 5000ms;  에니메이션 필수 속성
  animation-fill-mode: forwards; 다시 원래자리로 돌아가지 않도록
  animation-delay: 3s;
  animation-iteration-count: 3;
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(0,-0.67,.87,.03);
  animation-play-state: paused;*/

  animation: text-ani 500ms forwards;
}
/* 메인컨텐츠 */
.main{
  background-color: #fff;
  padding : 30px 15px;
  border-radius: 15px 15px 0 0;
}

/* group */
.group1{  
  width: 250px;  
}
/* group */
.group2{  
  width: 380px;
}
/* group */
.group3{  
  width: 190px;
}

/* 로그인 */
.login{
  background-image: radial-gradient(circle at right top, #ef9643, #f7752e);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding : 10px;
}
.login-heading{
  color: #ff0;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 1em;
}
.login-form, .sign{
  background-color:#fff;
}
.login-form{
  margin-top: 0.5em;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 5px 10px;
}
.login-form fieldset{
  position: relative;  
  border-bottom: 1px solid #aaa;
  padding-bottom:5px;  
}
.user-id, .user-pw{
  margin-bottom: 5px;
}
[for="user-id"],[for="user-pw"]{
  width: 4em;
  display:inline-block;
}
[name="userEmail"], [name="userPwd"]{
  border: 1px solid #aaa;
  height: 24px;
  width: 90px;
  padding-left: 0.5em;
}
.btn-login{
  position: absolute;
  top:0;
  right:0;
  width: 50px;
  height: 54px;
  border: 1px solid #db5e29;
  border-radius: 3px;
  color: #fff;
  background-color: #f28430;
  padding:0;
  font-size:1.2rem;
  font-weight: 400;
}
.sign{
  border-radius:  0 0 5px 5px;
  padding: 0 10px 5px 10px;
  font-size:1.2rem;
}
.sign a::before{
  color:#db5e29;
}
/* 유효성 검사 배너 */
.validation-list{
  margin-top: 25px;  
}
.validation-list a{
  display: block;
  border : 1px solid #aaa;
  border-radius:  30px;
  line-height: 30px;
  background: url("../images/validation_icon.png") no-repeat 2em 50%,
            linear-gradient(to bottom, #ccc, #eee) repeat 0 0;
  padding-left: 4em;
  margin-top: 10px; 
}

/* 웹 관련 용어 */
.term{
  margin-top: 20px;
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px 15px;
  background: #ccc linear-gradient(#ccc, #eee);
}
.term-heading{
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list{
  margin-top: 10px;  
}
.term-list-subject{
  color: #296897;
  margin-top: -4px;
  font-weight: 400;
}
.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}
.term-list-brief{
  line-height: 1.5;
}
.term-list-thumbnail{
  float: left;  
}
.term-list-thumbnail img{
  vertical-align: top;
}


/* 검색 폼 */
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  border: solid 1px #aaa;  
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  padding: 15px 20px 10px;    
}

[type="search"], .btn-search{
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
}
[type="search"]{
  padding-left: 0.5em;
  width: 200px;
}
.btn-search{
  background-color: #333;
  color:#fff;
  padding : 0 1em;
}

/* 공지사항 및 자료실 */
.board{
  
  margin-top: 20px;
  position: relative;
  padding-top: 45px;

}
.notice-heading, .pds-heading{
  position: absolute;
  top:0;
}
.notice-heading{
  left: 0px;
}
.pds-heading{
  left: 81px;
}
.tab{
  border:1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #aaa);
  padding:0.5em 1em;
  display:block;
  color: #666
}
.tab-act .tab{
  background: #fff;
  color:#db5e29;
  border-color:#db5e29 #db5e29 #fff #db5e29;
}
.notice-list, .notice-more, .pds-list, .pds-more{
  display:none;
}
.tab-act .notice-list,.tab-act  .notice-more,
.tab-act .pds-list, .tab-act .pds-more{
  display:block;
}

.notice-list li, .pds-list li{  
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
.notice-list a, .pds-list a{  
  width: 290px;
  white-space: nowrap;/*메인메뉴에서 개행 금지 목적으로 썼던 부분 참고*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.more::before{
  /*color:#ff0; 옛날브라우저 고려*/
  /*색상원 : 각도 생각*/
  color:hsla(110, 30%, 30%, 1);
}

.notice-more, .pds-more{
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  padding: 0.5em;
}

/* 새소식  */

.news{
  margin-top: 20px;  
  position: relative;
}

.news::before{
  content:"";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background : #ccc linear-gradient(to right, #ccc, #eee)
}
.news-heading{
  color:#db5e29;
  font-weight: 700;
  font-size:1.5rem;
}
.news-item{
  margin-top: 35px;
  padding-left: 130px;
  min-height: 110px; /*내용이 속보 등으로 짧을 경우 썸네일이 영역 밖으로 나가는 현상을 방지하기 위해*/
}
.news-item-subject{  
  font-weight: 700;
}
.news-item-summary{  
  margin-top: 0.5em;
  line-height: 1.5;  
}
.news-more{
  position : absolute;
  top:-0.5em;
  right:-0.5em;
  padding: 0.5em;
}
.news-item-thumbnail{
  position: absolute;
  left: 5px;
  top: 63px;
  text-align: center;
}
.news-item-thumbnail img{
  margin-bottom: 1em;
  box-shadow: 0 15px 15px 5px #ccc;
  /*x ,y , 흐릿, 퍼지는효과, */
}


/* 이벤트 및 관련 사이트*/
.gradient-box{
  background-color: yellow;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:10px;
  background : #ccc linear-gradient(to bottom, #ccc, #eee);
}
.event-heading, .related-heading, .favorite-heading{
  font-size:1.5rem;
  font-weight: 700;
}
.point-color{
  color:#db5e29;
}

.event-thumbnail{
  margin-top: 10px;  
}
.event-thumbnail img{  
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #999;
  margin-bottom: 5px;   */
}
.event{
  position: relative;    
}
.btn-event-wrapper{
  position: absolute;
  top:3px;
  right:0;  
}
/* .btn-event-wrapper button{ */
.btn-event-prev, .btn-event-next{
  height: 18px;  
  width: 19px;
  border:0;
  padding: 0;
  /* background: pink url("../images/back_forward.png") no-repeat; */
  background-color: pink;
  background-image: url("../images/back_forward.png");
  background-repeat: no-repeat;
  vertical-align: top; /*파폭에서 제대로 안보여서*/

}
/* 우선순위(구체성점수)가 같을 때 나중에 선언된 것을 불러온다는 것을 확인 필요 
   ! important 를 사용하는 것과 결과는 동일!!! 
   따라서 요소선택자 및 대표속성 사용을 지양할 것!!*/
button.btn-event-next{ 
  background-position: -36px 0;
}
/* a태그 사용시
.btn-event-wrapper{
  background-color: yellow;
  position: absolute;
  top:0;
  right:0;
  overflow:hidden;
}

.btn-event-wrapper a{
  
  float: left;
  height: 18px;  
  width: 19px;
  border:0;
  padding: 0;
  background-color: pink;  
}
*/
.related{
  border-top: 1px solid #aaa;
  padding-top: 0.5em;
  margin-top: 10px;
}
.related-list{
  background : #fff;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 2px 1em;

  height: 27px;  /**/
  overflow: hidden;
  /*
  transition: height 800ms, padding 400ms 800ms, background 400ms 1200ms,
  border-radius 400ms 800ms, transform 2000ms 2000ms;
  위에 속성들을 지연 없이 한번에 하고 싶다면 */
  transition: all 400ms;
}
.related-list:hover{
  height: 120px;
  padding: 0.5em 1em;  
  /* background: goldenrod;
  border:2px solid #000;
  border-radius: 50%;
  transform:rotate(2turn); */
}
.related-list a{  
  display:block;
  line-height: 21px;
}

/* 인기사이트 */
.favorite{
  margin-top: 20px;
  position: relative;
}
.favorite-list{
  list-style:none; /*리스트 앞에 불릿 지우기*/
  margin-top: 10px;
  counter-reset: none;
  /*
  flex-direction: column; */
  /* justify-content: space-between; */  
}

.favorite-list li{
  margin-top: 0.3em;
  counter-increment: number;
  display:flex;  
  align-items: center;
  /* justify-content: space-between; */
}

.favorite-list li::before{
  content: counter(number);
  background: #999;
  color: #fff;
  font-size: 1.2rem;;
  padding: 2px 0.5em 2px;
  margin-right: 0.5em;
  border-radius: 2px;
  /* 
  border: 1px solid #666;
  width: 20px;
  height: 20px;
  display: inline-block; */

} 
.up, .stop, .down{
  /* display: block;  */
  width: 9px;
  height: 11px;
  margin-left: auto;
  background: url(../images/rank.png) no-repeat;
  white-space: nowrap;
  text-indent : 10px;
  overflow: hidden;
}
.stop{
  background-position: 0 50%;
}
.down{
  background-position: 0 100%;
}
.favorite-more{
  position: absolute;
  padding: 0.5em;  
  top: 3px;
  right:3px;
}

/* /images/ranks.png */
.no1::before{
  content:"";
  background-color: red;
  /* display:block;
  top:20px; */
}


/* 슬로건 */
.slogan{
  position: relative;
  padding: 10px 100px 10px 150px;
}
.slogan-heading{
  
  position: absolute;

  left: 35px;
  bottom: -25px;
  width: 110px;
  height: 83px;
  text-align: center;
  line-height: 83px;
}
.slogan-heading::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: url("../images/coffee.png") no-repeat 0 0;
}

.slogan-content{
  color: #a09784;
}
.slogan-content q::before{
  font-size: 3.5rem;
  position: relative;
  top: 10px;
}
.slogan-content q::after{
  content: "";
}


/* footer */
.footer-bg{
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
.footer{
  position: relative;
  padding: 15px 100px 10px 150px;
}
/* 푸터 로고 */
.footer-logo{
  position: absolute;
  top: 35px;
  left: 35px;
}
/* 가이드링크 */
.guide-list{
  background: #7b8385;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 2px 0;
}
.guide-list a{
  text-transform: uppercase;
  display: block;
  padding: 0.5em 0;
}
/* 주소 및 저작권 정보 */
.address{
  font-style: normal;
  margin-top: 10px;
}
/* HTML5와 CSS3 로고 */
.badge{
  position: absolute;
  top: 10px;
  right: 0;
}
